<div class="container clear">
<div class=" jumbotron">
<h2>Hotel Reservation Management System</h2>
<p>This is an internal tool for hotel operators</p>
<div>
    <a [routerLink]="['/login']" class="btn btn-primary"> Login </a>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
</div>
</div>
    
<div class="row">
    <div class="col-md-4">
        <h3>Hotel Configuration</h3>
        <p>Create total number of rooms for the hotel and save details of availability of rooms.</p>
    </div>
    <div class="col-md-4">
        <h3>Reserve Rooms</h3>
        <p>Modify the status of rooms for certain duration of time.</p>
    </div>
    <div class="col-md-4">
        <h3>Search For Room Status</h3>
        <p>Query if room is free or not.</p>
    </div>
    
</div>
</div>