<nav class="nav navbar-default">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"> 
                <a [routerLink]="['/']"> Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/profile']">Profile</a>
            </li>
            <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"> 
                <a [routerLink]="['/login']"> Login</a>
            </li>

            <li *ngIf="!authService.isLoggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/register']"> Register</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
                <a (click)="onLogout()">Logout</a>
            </li>

        </ul>
    </div>
</nav>
